/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:1;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

/*MAIN*/
body { 
	font-size: 1.05em;
	line-height: 1.25em;
	font-family: "Ubuntu","Cabin-regular","Proxima Nova",sans-serif ,"Open Sans","Myriad pro", Arial;
	background: url('../img/bg-body.png');
	color: #555;
	margin: auto;
	height:auto;
}

a {

	color: #7bc145;
	text-decoration: none;
	font-weight: bold;

}

a:hover {

	color: #3b8006;

}

img {

	width: 100%;

}

header {
	background: #fefce5;
	width: 100%;
	height: 102px;
	/*position: fixed;*/
	top: 0;
	left: 0;
	border-bottom: 4px solid #f5b62b;
	z-index: 100;
	margin:auto;
	box-shadow:  0 1px 3px rgba(0,0,0,0.8);
	-moz-box-shadow:  0 1px 3px rgba(0,0,0,0.8);
	-webkit-box-shadow:  0 1px 3px rgba(0,0,0,0.8);

}

#header-elements {
	margin: auto;
	max-width: 1024px;
}

#logo {

	/*margin-left: 33px;*/
	float: left;
	width: 339px;
	height: 100px;
	background: url('../img/pran-logo.png') no-repeat center;
	display: block;

}

nav {

	float: right;
	padding: 30px 0px 30px 0px;	
	
}

#menu-icon {

	display: hidden;
	width: 40px;
	height: 40px;
	background: #7bc145 url(../img/menu-icon.png) center;

}

a:hover#menu-icon {
	background-color: #444;
	border-radius: 4px 4px 0 0;

}

ul {

	list-style: none;

}

li {

	display: inline-block;
	float: left;
	padding: 10px

}

.current {

	color: #3b8006;

}

h1 {

	font-size: 2em;
	color: #01535e;
	line-height: 1.15em;
}

h2 {
	font-size: 1.3em;
	line-height: 1.2em;
	text-align: justify;
}

section {

	/*margin-top: 70px;*/
	max-width: 100%;
	position: relative;
	/*padding: 20px*/
}

section p {
	text-align: justify;
	line-height: 1.45em;
	margin-bottom: 20px; 
}

.home, .about, .contact  {
	max-width: 1024px;
	padding: 40px 40px;
	margin: auto;
	min-height: 350px;
}

.contact {
	min-height: 369px;
}

#map {
	height:400px;
	width: 100%;
	clear: both;
	position: absolute;
	
}

.search {
	clear:both;
	min-height:50px;
	background-color:#fefce5;
	border-top: 4px solid #f5b62b;
	border-bottom: 4px solid #f5b62b;
	box-shadow: outset 0 1px 3px rgba(0,0,0,0.8);
	-moz-box-shadow: outset 0 1px 3px rgba(0,0,0,0.8);
	-webkit-box-shadow: outset 0 1px 3px rgba(0,0,0,0.8);
	z-index: 100;
}

#filters {
	float: right;
	width:auto;
	padding:0px 5px 5px 5px;

}

#filters p, #search-box p {
	margin-bottom: 2px;
	margin-left: 2px;
}

#filters select  {
	padding:3px 30px 3px 3px;
    margin: 0px 2px 0px 2px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #7ac043, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #7ac043, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #7ac043, 0 -1px #fff inset;
    background: #fefce5;
    color:#01535e;
    border:1px solid #7ac043 ;
    outline:none;
    display: inline-block;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    cursor:pointer;
    width: 130px;
    width: auto;
    max-width: 150px;    
    background-image: url('../img/icon-selectbox2.png');
    background-position: 102% center;
    background-repeat: no-repeat;
    /*overflow: hidden;   
   text-overflow: ellipsis;*/
   white-space: nowrap;



}

#search-box {
	padding:0px;
	float: left;
}

#search {
	margin: 0px 2px 0px 2px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
   /* -webkit-box-shadow: 0 3px 0 #7ac043, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #7ac043, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #7ac043, 0 -1px #fff inset;*/
    background: #fefce5;
    color:#01535e;
    border:1px solid #7ac043 ;
	
	/*margin: 8px;*/
	width: 172px;
	height: 21px;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../img/icon-selectbox5.png');
    background-position: 100% center;
    background-repeat: no-repeat;
    padding:3px 30px 3px 3px;
    overflow: hidden;   
   text-overflow: ellipsis;
   white-space: nowrap;
}



#data-table {

}

#report {

}

#loading {
    width: 100%;
    height: 100%;
    background: url("../img/loading.gif") no-repeat center center #fff;
    position: fixed;
    opacity: 0.7;
}

#about, #contact-detail{
	width: 42%;
	float: left;
	/*margin-right: 2%;*/
}

section #contact-detail p{
	text-align: justify;
	line-height: 1.45em;
}

#about h1 {
	background: url('../img/about-icon.png') no-repeat left;
	/*margin: 20px 0 ;*/
	padding: 4px;
	padding-left:50px;
}

#about p, #description p {
	font-size: 1em;
}

#contact-detail h1 {
	padding: 4px;
	background: url('../img/contact-icon.png') no-repeat left;
	padding-left:61px;

}

#carousel, div#contact-form {
	width: 56%;
	float: right;
	/*margin: 100px auto 40px;*/
	margin: 5px 0px 0px 0px;
}

#carousel {
	height:auto;
}

#description, footer {
	width: 100%;
	background-color: #01535e;
	color: #fefce5;
	border-top: 4px solid #f5b62b;
	clear: both;
	margin: auto;
}

#description {
	border-bottom: 4px solid #f5b62b;
	padding-top:40px;
	padding-bottom: 40px;
}

#description p {
	margin: auto;
	max-width:1024px;
}

.highlight {
	color: #f5b62b;
}

#goto  {
	padding: 40px;
	margin:auto;
	max-width: 1024px;
	height: 254px;
	max-height: auto;

}

#goto p {
	font-weight: bold;
}

#broucher, #viewmap, #contact{
	float: left;
	width:33%;
	text-align: center;
}


/* this is extra css yet to be implemented on home page */
.custom-dropdown-large {
	font-size: 1.5em;
}

.custom-dropdown-small {
	font-size: .7em;
}

.custom-dropdown-select{
	font-size: inherit; /* inherit size from .custom-dropdown */
	padding: .5em; /* add some space*/
	margin: 0; /* remove default margins */
}

.custom-dropdown-select-green {
	background-color: #fefce5;
	color: #01535e    
}

@supports (pointer-events: none) and
	  ((-webkit-appearance: none) or
	  (-moz-appearance: none) or
	  (appearance: none)) {

	.custom-dropdown {
		position: relative;
		display: inline-block;
		vertical-align: middle;
	}

	.custom-dropdown-select {
		padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
		border: 1px solid #75b841;
		border-radius: 3px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;    
	}

	.custom-dropdown::before,
	.custom-dropdown::after {
		content: "";
		position: absolute;
		pointer-events: none;
	}

	.custom-dropdown::after { /*  Custom dropdown arrow */
		content: "\25BC";
		height: 1em;
		font-size: .625em;
		line-height: 1;
		right: 1.2em;
		top: 50%; margin-top: -.5em;
	}

	.custom-dropdown::before { /*  Custom dropdown arrow cover */
		width: 2em;
		right: 0; top: 0; bottom: 0;
		border-radius: 0 3px 3px 0;
	}

	.custom-dropdown-select[disabled] {
		color: rgba(0,0,0,.3);
	}

	.custom-dropdown.custom-dropdown-disabled::after {
		color: rgba(0,0,0,.1);
	}

	/* White dropdown style */
	.custom-dropdown-green::before {
		top: .5em; bottom: .5em;
		/*background-color: #fefce5;*/
		border-left: 1px solid rgba(0,0,0,.1);
	}

	.custom-dropdown-green::after {
		color: rgba(0,0,0,.9);
	}

	/* FF only temp fix */
	@-moz-document url-prefix() {
		.custom-dropdown-select 			 { padding-right: .9em }
		.custom-dropdown-large .custom-dropdown-select { padding-right: 1.3em }
		.custom-dropdown-small .custom-dropdown-select { padding-right: .5em }
	}
}

.search {
	padding: 5px 40px 10px 40px;
	margin-top: 450px;
	clear:both;
	min-height:50px;
	height:auto;
	background-color:#fefce5;
	border-top: 4px solid #f5b62b;
	border-bottom: 4px solid #f5b62b;
	box-shadow: outset 0 1px 3px rgba(0,0,0,0.8);
	-moz-box-shadow: outset 0 1px 3px rgba(0,0,0,0.8);
	-webkit-box-shadow: outset 0 1px 3px rgba(0,0,0,0.8);
	z-index: 100;

}

#filters {
	/*float: left;*/
	clear: both;
	width:auto;
	padding:0px 5px 5px 5px;

}

#search-box {
	padding:0px;
	float: left;
}

#search {
	margin: 0px 2px 0px 2px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
   /* -webkit-box-shadow: 0 3px 0 #7ac043, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #7ac043, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #7ac043, 0 -1px #fff inset;*/
    background: #fefce5;
    color:#01535e;
    border:1px solid #7ac043 ;
	
	/*margin: 8px;*/
	width: 172px;
	height: 21px;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../img/icon-selectbox5.png');
    background-position: 100% center;
    background-repeat: no-repeat;
    padding:3px 30px 3px 3px;
    overflow: hidden;   
   text-overflow: ellipsis;
   white-space: nowrap;
}


/* this is extra css for further implementation on home page */
.cd-dropdown,
.cd-select {
	position: relative;
	width: 300px;
	margin: 20px auto;
	display: block;
}

.cd-dropdown > span {
	width: 100%;
	height: 60px;
	line-height: 60px;
	color: #999;
	font-weight: 700;
	font-size: 16px;
	background: #fff;
	display: block;
	padding: 0 50px 0 30px;
	position: relative;
	cursor: pointer;
}

.cd-dropdown > span:after {
	content: '\25BC';
	position: absolute;
	right: 0px;
	top: 15%;
	width: 50px;
	text-align: center;
	font-size: 12px;
	padding: 10px;
	height: 70%;
	line-height: 24px;
	border-left: 1px solid #ddd;
}

.cd-dropdown.cd-active > span:after {
	content: '\25B2';
}

.cd-dropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
}

.cd-dropdown ul li {
	display: block;
}

.cd-dropdown ul li span {
	width: 100%;
	background: #fff;
	line-height: 60px;
	padding: 0 30px 0 75px;
	display: block;
	color: #bcbcbc;
	cursor: pointer;
	font-weight: 700;
}

.cd-dropdown > span,
.cd-dropdown ul li span {
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cd-dropdown > span span[class^="icon-"],
.cd-dropdown > span span[class*=" icon-"]{
	padding: 0 30px 0 45px;
}

/* Select fallback styling */
.cd-select {
	border: 1px solid #ddd;
}






.cd-dropdown ul {
	position: absolute;
	top: 0px;
	width: 100%;
}

.cd-dropdown > span,
.cd-dropdown ul li {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-dropdown ul li {
	position: absolute;
	width: 100%;
	pointer-events: none;
}

.cd-active.cd-dropdown > span {
	color: #e66b20;
}

.cd-active.cd-dropdown ul li {
	pointer-events: auto;
}

.cd-active.cd-dropdown ul li span {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown ul li span:hover {
	background: #e66b20;
	color: #fff;
}

















/*
.button{
	height:50px;
	width:150px;
	border-radius: 5px;
	color: #fefce5;
	background-color: #7bc145;
	border:1px solid #7ac043;
	margin: auto;
}
.button:hover{
	background-color:#7bc145;
	opacity:0.9;
}
*/

/*Contact form*/
/*div#contact-form {
	background: #f3f3f3;
	border: 1px solid #7bc145;
	width: 500px;
	height: 500px;
	float: left;
	border-radius: 5px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.8);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.8);
	overflow: hidden;
	width:55%;
}*/

/*#breaker{
	width: 5px ;
	background-color: #f5b62b
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.8);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.8);
}
*/


.form-input, textarea {
	/*width:84%;*/
	min-width: 90%;
	width: auto;
	/*max-width:84%;*/
	resize:none; 
	padding: 15px 25px;
	background: #fefce5;
	border: 1px solid #7ac043;
	/*border-radius: 5px;*/
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-o-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

textarea {
	font: -webkit-small-control;
	line-height: normal;
	color: initial; 
	height: 80px;
	max-height: 100px;
}

input#form-submit,.button,.go {
	display: block;
	padding: 10px;
	/*margin-right: 10px;*/
	color: #fefce5;
	font-weight: bold;
	background: #7bc145;
	border: none;
	cursor: pointer;
	border: 1px solid #fff;
	border-radius: 5px;
}

input#form-submit:hover, .button:hover, .go:hover {
	opacity: 0.9;
}

/*input#form-submit {
	float:left;
}
*/
.button{
	margin:auto;
}

.go {
	border: none;
	float: right;
	padding: 5px 10px 5px 10px;
	height: 29px;
}

footer {
	clear: both;
	/*padding-bottom: 10px;*/
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.8);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.8);
}

footer p {
	/*margin-left: 40px;*/
	max-width: 1024px;
	margin: auto;
	/*height:100px;*/
	font-size: 13px;
	/*color: #f5b62b;*/

}

footer span#right {
	/*margin-right: 40px;*/
	float: right;
}


.error, .success {
	margin-left: 2px;
	text-align: right;
	display: block;
	background-repeat: no-repeat;
	background-position: 10px center;
	border: 1px solid #D0D0D0;
	float: left;
}

.success {
	width: 395px;
	background-color: #DFF2BF;
	background-image: url('../img/success.png');
}

.error {
	width: 180px;
	background-color: #FF9494;
	background-image: url('../img/error.png')
}








/*MEDIA QUERY*/
@media only screen and (max-width : 1100px) {

#logo{
	background: url('../img/pran-logo.png') no-repeat center;
	margin-left:20px;
}

nav {
	padding: 30px 20px 30px 0px;	
}

/*#menu-icon {
	
	display:inline-block;

}

nav ul, nav:active ul { 

	display: none;
	position: absolute;
	padding: 20px;
	background: #fefce5;
	border: 5px solid #444;
	right: 20px;
	top: 60px;
	width: 50%;
	border-radius: 4px 0 4px 4px;

}

nav li {

	text-align: center;
	width: 100%;
	padding: 10px 0;
	margin: 0;

}

nav:hover ul {

	display: block;

}*/



h1 {

font-size: 1.5em;
/*color: #01535e;*/
/*line-height: 1.15em;*/
}

h2 {
	font-size: 0.9em;
	/*line-height: 1.2em;*/
	/*text-align: justify;*/
}


.home, .about, .contact  {
	/*max-width: 1024px;*/
	padding: 40px 20px;
	/*margin: auto;*/
	/*min-height: 475px;*/
}

#about h1 {
	/*background: url('../img/about-icon.png') no-repeat left;*/
	/*margin: 20px 0 ;*/
	padding-left:50px;
}

#about h3 {
	text-align: justify !important;
}





#about {
	width: 100%;
	float: left;
	/*margin-right: 20px;*/
}

#carousel {
	width: 100%;
	float: left;
	margin:0px auto 20px 0px;
}

/*div#contact-form {
	width: 100%;
	float: left;
	margin:0px auto 20px 0px;
}*/

#carousel{
	height:auto;
}

#description p, #goto, #content-wrap  {
	padding: 20px;
	margin:auto;
	/*max-width: 1024px;*/

}

/*#broucher, #viewmap, #contact{
	float: left;
	width:100%;
	text-align: center;
	margin-bottom: 20px;
}
*/
#footer {
	padding:10px 20px 10px 20px;
}




}/*end of mediaquery max-width 1100 px*/

@media only screen and (max-width : 768px) {



#logo{
	background: url('../img/pran-logo-medium.png') no-repeat center;
	margin-left:20px;
	float: left;
	width: 300px;
	height: 88px;
	display: block;
	vertical-align: middle;
	padding-top: 15px;
}

#menu-icon {
	
	display:inline-block;

}

nav {
	padding: 30px 20px 30px 0px;	
}

nav ul, nav:active ul { 
	z-index: 1001;
	display: none;
	position: absolute;
	padding: 20px;
	background: #fefce5;
	border: 5px solid #444;
	right: 20px;
	top: 60px;
	width: 50%;
	border-radius: 4px 0 4px 4px;

}

nav li {

	text-align: center;
	width: 100%;
	padding: 10px 0;
	margin: 0;

}

nav:hover ul {

	display: block;

}



h1 {

font-size: 1.5em;
/*color: #01535e;*/
/*line-height: 1.15em;*/
}

h2 {
	font-size: 0.9em;
	/*line-height: 1.2em;*/
	/*text-align: justify;*/
}


.home, .about, .contact  {
	/*max-width: 1024px;*/
	padding: 40px 20px;
	/*margin: auto;*/
	/*min-height: 475px;*/
}

#about h1 {
	/*background: url('../img/about-icon.png') no-repeat left;*/
	/*margin: 20px 0 ;*/
	padding-left:50px;
}

#about h3 {
	text-align: justify !important;
}





#about, #contact-detail {
	width: 100%;
	float: left;
	/*margin-right: 20px;*/
}

#carousel {
	width: 100%;
	float: left;
	margin:0px auto 20px 0px;
}

div#contact-form {
	width: 100%;
	float: left;
	margin:0px auto 20px 0px;
}

#carousel{
	height:auto;
}

#description p, #goto  {
	padding: 20px;
	margin:auto;
	/*max-width: 1024px;*/

}

#broucher, #viewmap, #contact{
	float: left;
	width:100%;
	text-align: center;
	margin-bottom: 20px;
}

#footer {
	padding:10px 20px 10px 20px;
}















} /*end of mediaquery max-width 768 px*/




@media only screen and (max-width : 480px) {

#logo{
	background: url('../img/pran-logo-smaller.png') no-repeat center;
	width: 260px;
	height: 76px;
	padding-top: 25px;
	vertical-align: middle;
}

nav {
	padding: 30px 20px 30px 0px;	
}


#about h1 {
	/*background: url('../img/about-icon.png') no-repeat left;*/
	/*margin: 20px 0 ;*/
	padding-left:50px;
}
















} /*end of mediaquery max-width 480 px*/